{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="topbar">
    <div class="profilePhoto">
        <button id="photoBtn">
            <img class="profileImg" src="{% static 'img/ssu_likelion_logo_150x150.png' %}" alt="프로필 사진"/>
        </button>
    </div>
    
    <div class="profileDetail">
        <div class="profileEdit">
            <h1>{{user.nickname}}</h1>
            <a href="{% url 'edit' user.username %}"><button class="editBtn">프로필 편집</button></a>
        </div>

        <div class="profileInfo">
            <ul>
                <li>000 게시물</li>
                <li>000 팔로워</li>
                <li>000 팔로잉</li>
            </ul>
        </div>
        <div class="profileMsg">
            <p class="message">hello world</p>
        </div>
    </div>
</div>
<main> 
    <img class="postImg" src="{% static 'img/lionface.png' %}" alt="게시물 사진"/>
    <ul aria-hidden="true">
        <li>Likes: 0</li>
        <li>Comments: 0</li>
    </ul>
    <img class="postImg" src="{% static 'img/lionface.png' %}" alt="게시물 사진"/>
    <ul aria-hidden="true">
        <li>Likes: 0</li>
        <li>Comments: 0</li>
    </ul>
    <img class="postImg" src="{% static 'img/lionface.png' %}" alt="게시물 사진"/>
    <ul aria-hidden="true">
        <li>Likes: 0</li>
        <li>Comments: 0</li>
    </ul>
</main> 
{% endblock %}
